/*index.css contains site-wide styling. Individual components and views are styled in
their respective css files if specialized styling is needed.*/


/*HTML selectors*/
body {
    margin: 1px;
    background: #000032;
}
p {
    display: block;
    margin-block-start: 0.65em;
    margin-block-end: 0.65em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1 {
    margin-top: 2px;
    margin-bottom: 2px;
}
h4 {
    margin-top: 1px;
    margin-bottom: 1px;
}
button:hover {
    background: #8b8b8b;
}
form {
    display: table;
    margin-top: 25px;
}
input {
    width: 100%;
}
form {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}
a:hover {
    color: #8b8b8b;
}


/*classes*/

/*general page element styling*/
.main-theme {
    text-align: center;
    background: #000032;
    font-family: Verdana, sans-serif;
    display: table;
    min-width: 98vw;
    min-height: 97vh;
}
.dash-pic {
    background: url("/dash-pic.jpg");
    min-height: 55vh;
    width: 98vw;
	background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}
.welcome-row {
    margin-bottom: 15px;
}
.icon {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link {
    display: flex;
    font-size: calc(7px + 1vmin);
    justify-content: left;
    padding: 5px;
    color: #000032;
    width: max-content;
    position: relative;
    bottom: 0;
    left: 0;
}
.matches {
    font-size: calc(4px + 2vmin);
}
.temp-link {
    display: flex;
    font-size: calc(7px + 2vmin);
    text-decoration: underline;
    font-weight: bold;
    justify-content: left;
    padding: 5px;
    color: #000032;
    position: relative;
    bottom: 0;
    left: 0;
}
.matches1-link {
    font-size: calc(6px + 3vmin);
    font-weight: bold;
    justify-content: center;
    padding: 5px;
    color: #000032;
}
.matches2-link {
    font-size: calc(6px + 2vmin);
    font-weight: bold;
    justify-content: center;
    padding: 5px;
    color: #000032;
    margin-top: 20px;
}
.matches-link {
    font-size: calc(8px + 2vmin);
    justify-content: center;
    padding: 5px;
    color: #000032;
}
.user-welcome {
    text-align: left;
    color: ghostwhite;
    font-size: calc(7px + 2vmin);
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
}
.header {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(35px + 2vmin);
    color: #000032;
    font-weight: bold;
}
.header-small {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(25px + 2vmin);
    color: #000032;
    font-weight: bold;
}
.description-box {
    background-color: ghostwhite;
    border: solid 5px #42cd42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: calc(8px + 2vmin);
    color: #000032;
    padding: 10px;
    margin-top: 30px;
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 25px;
}
.dash-item-box {
    background-color: ghostwhite;
    border: solid 5px #42cd42;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: #000032;
    padding: 10px;
    margin: 10px;
    width: 38vw;
    display: inline-grid;
}
.student-item-box {
    background-color: white;
    border: solid 5px #42cd42;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: #000032;
    margin: 25px;
    width: 25vw;
    display: inline-grid;
}
/*buttons*/
.large-button {
    background: #42cd42;
    color: #000032;
    font-weight: bold;
    font-size: calc(8px + 2vmin);
    padding: 0.6rem 1rem;
    border: solid 1px #c7c7c7;
    margin: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0.5, 0.5);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.regular-button {
    background: #42cd42;
    color: #000032;
    font-weight: bold;
    font-size: calc(9px + 1vmin);
    width: 55%;
    justify-self: center;
    border: solid 1px #c7c7c7;
    box-shadow: 0 3px 10px rgba(0, 0, 0.5, 0.5);
    border-radius: 3px;
    cursor: pointer;
}
.clear-button {
    background: ghostwhite;
    color: #000032;
    text-decoration: underline;
    font-size: calc(10px + 1vmin);
    width: auto;
    justify-self: center;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.wide-button {
    background: #42cd42;
    color: #000032;
    font-weight: bold;
    font-size: calc(9px + 1vmin);
    width: 110%;
    justify-self: center;
    border: solid 1px #c7c7c7;
    box-shadow: 0 3px 10px rgba(0, 0, 0.5, 0.5);
    border-radius: 3px;
    cursor: pointer;
}
.account-update-button {
    background: ghostwhite;
    color: #000032;
    font-weight: bold;
    font-size: calc(3px + 2vmin);
    border: solid 1px #c7c7c7;
    box-shadow: 0 3px 10px rgba(0, 0, 0.5, 0.5);
    border-radius: 3px;
    outline: none;
    float: right;
    margin-right: 20px;
    position: absolute;
    top: 60px;
    right: 5px;
}
.xl-white-centered-button {
    background: ghostwhite;
    color: #000032;
    font-weight: bold;
    font-size: calc(15px + 2vmin);
    border: solid 10px #42cd42;
    box-shadow: 0 3px 10px rgba(0, 0, 0.5, 0.5);
    border-radius: 3px;
    outline: none;
    margin-top: 25px;
    padding: 25px;
}

/*forms*/
.form-container{
    background-color: ghostwhite;
    display: table;
    color: #000032;
    min-width: 50%;
    max-height: min-content;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.general-form-area {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 1px;
    min-height: 35vh;
}
.double-column-col-1 {
    display: inline-grid;
    margin: 5px;
    min-height: 45vh;
    padding-top: 25px;
    width: 50%;
}
.double-column-col-2 {
    display: inline-grid;
    margin: 5px;
    min-height: 45vh;
    padding-top: 25px;
    width: 50%;
}
.single-column-col-1 {
    display: inline-grid;
    width: 60%;
    min-height: 30vh;
    padding-top: 25px;
}
.single-input-form {
    display: inline-grid;
    width: 75%;
    padding-top: 25px;
}

/*credits*/
.credits {
    align-items: left;
    justify-content: left;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: calc(5px + 1vmin);
    text-align: left;
    color: ghostwhite;
}
.credit_link {
    color: ghostwhite;
    text-decoration: underline;
}
.credits_small {
    align-items: left;
    justify-content: left;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: calc(2px + 1vmin);
    text-align: left;
    color: ghostwhite;
}
.credit_link_blue {
    color: #000032;
    text-decoration: underline;
}

/*crud pages*/
.crud-search {
    background-color: #000032;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000032;
    margin: 35px;
    margin-bottom: 20px;
}
.crud-title {
    text-align: center;
    color: ghostwhite;
    font-size: calc(20px + 3vmin);
    font-weight: bold;
    margin: 15px;
}
.crud-title-small {
    text-align: center;
    color: #000032;
    font-size: calc(10px + 3vmin);
    font-weight: bold;
    margin: 15px;
}
.crud-title-med-small {
    text-align: center;
    color: #000032;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    text-decoration: underline;
}
.crud-title-xsmall {
    text-align: center;
    color: #000032;
    font-size: calc(8px + 2vmin);
    font-weight: bold;
    margin: 15px;
}
.options-title-small {
    text-align: center;
    color: ghostwhite;
    font-size: calc(10px + 3vmin);
    font-weight: bold;
    margin-top: 25px;
}
.options-title-xsmall {
    width: 65vw;
    text-align: center;
    color: ghostwhite;
    font-size: calc(10px + 3vmin);
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 15px;
}
.space {
    margin: 15px;
}
.crud-title-tiny {
    text-align: center;
    color: #000032;
    font-size: calc(7px + 2vmin);
    font-weight: bold;
    margin: 15px;
}
.crud-view-default {
    text-align: center;
    color: ghostwhite;
    font-size: calc(10px + 3vmin);
    font-weight: bold;
    margin: 55px;
    margin-top: 250px
}
.user-cards-container {
    background-color: #000032;
    display: block;
    justify-content: center;
    font-size: calc(15px + 1vmin);
    color: #000032;
    font-weight: bold;
    margin: 15px;
    margin-left: 35px;
    margin-right: 35px;
}
.right {
    margin-right: 25px;
}
.left {
    margin-left: 25px;
}
.user-tiles {
    display: flex;
    background-color: ghostwhite;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 85%;
}
.update-instructions{
    text-align: center;
    color: #000032;
    font-size: calc(9px + 1vmin);
    margin-left: 25px;
    margin-right: 25px;
}
.crud-form-container{
    background-color: ghostwhite;
    display: table;
    color: #000032;
    min-width: 75%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.crud-single-column-col-1 {
    display: inline-grid;
    width: 90%;
    padding-top: 8px;
}
.crud-single-column-col-1-narrow {
    display: inline-grid;
    width: 35%;
}
.crud-single-column-col {
    display: inline-grid;
    padding-top: 25px;
    padding-bottom: 25px;
}
.crud-form-title {
    text-align: left;
    padding-bottom: 2px;
    font-weight: bold;
}
.crud-form-text {
    text-align: left;
    padding-bottom: 2px;
    font-size: calc(8px + 1vmin);
}
.search-bar {
    color: #000032;
    padding: 5px;
    width: 90%;
    margin: 15px;
    margin-top: 0;
    border: solid #42cd42;
    border-width: 5px;
}
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
}
.with-scroll {
    height: 90vh;
    overflow: auto;
}
.with-scroll-short {
    height: 55vh;
    overflow: auto;
}
.required {
    font-size: calc(5px + 1vmin);
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
}
.column2 {
    float: left;
    width: 50%;
    padding: 20px;
    color: ghostwhite;
}
.tableWrapper {
    max-height: max-content;
    overflow: hidden;
}
tr.attrib-title{
    font-size: calc(8px + 2vmin);
    font-weight: bold;
    text-decoration: underline;
}
tr.attrib-title-tiny {
    font-size: calc(10px + 1vmin);
    font-weight: bold;
}
tr.attrib-detail {
    font-size: calc(9px + 1vmin);
    font-weight: normal;
}
tr.user-titles {
    font-size: calc(8px + 2vmin);
    font-weight: bold;
    text-align: center;
}
td.user-title {
    font-size: calc(8px + 2vmin);
    font-weight: bold;
    text-align: center;
}
.textareaElement {
    background-color: white;
    min-height: 20px;
    text-align: left;
    border: 1px solid black;
    max-height: 2500px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 15px;
}
.selectElement {
    background-color: white;
    min-height: 20px;
    text-align: left;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 15px;
}
.textareaElement-no-edit{
    background-color: lightgrey;
    min-height: 20px;
    text-align: left;
    border: 1px solid black;
    max-height: 2500px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 15px;
}

/*Info Pages*/
table.description {
    background-color: ghostwhite;
    display: table;
    border-collapse: inherit;
    border: none;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}
table.description-outer {
    background-color: ghostwhite;
    display: flex;
    border-collapse: inherit;
    border: none;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}
tr.picture {
    background-color: ghostwhite;
    display: table;
    border-collapse: inherit;
    border: none;
    border-spacing: 0;
    margin-left: 8px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}
tr.description-rows {
    padding: 0;
    background-color: ghostwhite;
    border: none;

}
tr.spacer {
    margin: 0;
    padding: 0;
    border: none;

}
td.description-title {
    margin: 0;
    padding: 0;
    font-size: calc(7px + 2vmin);
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    border: none;
    max-width: 10vw;
}
td.description-title-small {
    margin: 0;
    padding: 0;
    font-size: calc(5px + 2vmin);
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    border: none;
    max-width: 10vw;
}
td.description-content {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    font-size: calc(6px + 2vmin);
    text-align: left;
    vertical-align: top;
    border: none;
}
.info-link {
    color: #000032;
    font-size: calc(6px + 2vmin);
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 50px;
}
.space-on-bottom {
    margin-bottom: 15px;
}

.color-ghost {
	color: ghostwhite;
}
.student-cards-container {
    min-height: 15vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 35px;
    margin-right: 35px;
}