.view-button {
    background: #000032;
    color: ghostwhite;
    border: 0;
    padding: 0;
    margin-top: 1px;
    font-size: calc(6px + 2vmin);
}
.results-text {
    background-color: #42cd42;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(15px + 2vmin);
    font-weight: bold;
    color: #000032;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 0;
}
.result {
    background-color: ghostwhite;
    color: #000032;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(8px + 2vmin);
}