.navbar {
    background: #42cd42;
    color: #000032;
    font-weight: bold;
    font-size: calc(6px + 2vmin);
    padding: 2px;
    min-height: 45px;
    width: 100vw;
}
.take-back-links {
    align-self: left;
}
.back-to-dash {
    font-size: calc(3px + 2vmin);
    font-weight: bold;
    padding: 2px;
    margin: 2px;
    text-align: left;
    color: #000032;
    align-self: left;
}
.logout-button {
    background: ghostwhite;
    color: #000032;
    font-weight: bold;
    font-size: calc(3px + 2vmin);
    border: solid 1px #c7c7c7;
    box-shadow: 0 3px 10px rgba(0, 0, 0.5, 0.5);
    border-radius: 3px;
    outline: none;
    float: right;
    margin-right: 20px;
}
.fa-home {
    color: #000032;
}
.fa-home:hover {
    color: #8b8b8b;
}