input[type='checkbox'] {
	width: 20px;
}
.survey-header {
	background-color: #000032;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(30px + 2vmin);
	color: ghostwhite;
	font-weight: bold;
	margin-top: 30px;
}
.instructions-text {
	background-color: ghostwhite;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: calc(4.5px + 2vmin);
	color: #000032;
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 30px;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom: 30px;
}
.bottom-marg {
	margin-bottom: 30px;
}