html,
body {
    margin: 0.4px;
}

h1 {
    margin-top: 2px;
    margin-bottom: 2px;
}


h4 {
    margin-top: 1px;
    margin-bottom: 1px;
}

form {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.Recovery-button {
    background: #42cd42;
    color: #000032;
    font-weight: bold;
    font-size: calc(10px + 1vmin);
    padding: 0.6rem 1rem;
    border: solid 1px #c7c7c7;
    margin: 1rem 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0.5, 0.5);
    border-radius: 3px;
    outline: none;
}
button:hover {
    background: #8b8b8b;
}

.Recovery {
    text-align: center;
    justify-content: center;
    background: #000032;
    font-family: Verdana;
    display: flex;
    min-height: 100vh;
}

.Recovery-container {
    background-color: ghostwhite;
    display: table;
    color: #000032;
    min-width: 50%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
}

.icon {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Recovery-form {
    columns: 1;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 1px;
}

.Recovery-form-col-1 {
    display: inline-grid;
    width: 60%;
}

.credits {
    background-color: #000032;
    min-height: 4vh;
    align-items: left;
    justify-content: left;
    font-size: calc(5px + 1vmin);
    text-align: left;
    color: ghostwhite;
    padding-top: 5px;
}

.credit_link {
    color: ghostwhite;
    text-decoration: underline;
}
